.live-bets-container {
  margin: auto;
  max-width: 1200px;

  .controls {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;

    .update-rate {
      width: 200px;
    }
  
    .toggle {
      margin-left: 2rem;
    }
  }
}

.filter-input {
  width: 100%;
}

.bets-table {
  width: 100%;

  .center-content {
    display: flex;
    justify-content: center;
  }
}
table {
  width: 100%;
}