.live-bets {
  padding: 1rem 0 3rem;

  &-title {
    padding: 0 1.5rem;

    h3 {
      display: inline-block;
      margin-right: 1rem;
    }
  }
}

.advertisement {
  height: 400px;
  background-image: url("../../../assets/banner-hiring-soccer-player.jpg");
  background-position: right;
  background-size: cover;
  position: relative;
  color: white;

  .title {
    line-height: normal;
    font-size: 2.5rem;
    max-width: 400px;
    position: absolute;
    top: 100px;
    left: 6rem;
  }

  .join-btn {
    position: absolute;
    top: 220px;
    left: 6rem;
    font-size: 1rem;
    display: inline-block;
    border: 2px solid white;
    border-radius: 100rem;
    padding: 1rem;
    transition: color 300ms ease-out, background-color 300ms ease-out, border-color 300ms ease-out;

    &:hover {
      cursor: pointer;
      border-color: #ff2400;
      background-color: #ff2400;
    }
  }
}

@media(max-width: 1200px) {
  .advertisement{

    .title {
      top: 4rem;
      left: 5rem;
      font-size: 2rem;
      max-width: 340px;
    }

    .join-btn {
      top: 160px;
      left: 5rem;
    }
  }
}

@media(max-width: 768px) {
  .advertisement{
    background-position: right 20% top 30%;

    .title {
      top: 3rem;
      left: 3rem;
      font-size: 2rem;
      max-width: 340px;
    }

    .join-btn {
      top: 160px;
      left: 3rem;
    }
  }
}

@media(max-width: 600px) {
  .advertisement{
    background-position: right 20% top 30%;

    .title {
      top: 2rem;
      left: 2rem;
      font-size: 1.5rem;
      max-width: 260px;
    }

    .join-btn {
      top: 160px;
      left: 2rem;
    }
  }
}