<mat-toolbar>
  <a [routerLink]="['/dashboard']">
    <img class="logo" src="../../assets/logo.png" >
  </a>
  <section class="menu">
    <span class="menu-item" matTooltip="Dashboard">
      <a [routerLink]="['/dashboard']" matRipple class="menu-item">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      </a>
    </span>
    
    <span class="menu-item" matTooltip="Live">
      <a [routerLink]="['/live']" matRipple class="menu-item">
        <mat-icon aria-hidden="false" aria-label="Example home icon">live_tv</mat-icon>
      </a>
    </span>
    
    <span class="menu-item" matTooltip="Contact us">
      <a [routerLink]="['/contact']" matRipple class="menu-item">
        <mat-icon aria-hidden="false" aria-label="Example home icon">note</mat-icon>
      </a>
    </span>
  </section>
</mat-toolbar>
