@import '~@angular/material/theming';

// change menu link styling to use theme background/foreground colors
@mixin menu-link-theme($theme) {
  $background: map-get($theme, background);
  $background-color:  map-get($background, background);

  .toolbar-container .menu-item a {
    &.active {
      background-color: $background-color;
    }
  }
}
